@import "partials/normalize";

body {
  background-color: lightcoral;
  p {color: blue;}
}

img {width: 100%;}

h1 {
  padding: 1em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 4px rgba(black, .9);
}